*{
  font-family: 'Righteous', sans-serif !important;
}
body{
  background-color: white;
  background: url('../bg.jpg');
  background-size: cover;
}
h1{
  font-size: 6rem;
  margin: 0;
  padding: 0;
}
h1 span{
  font-size: 1rem;
}
@-webkit-keyframes slide {
  from{
    margin-top: -400px;
    opacity: 0;
  }
}
@keyframes slide {
  from{
    margin-top: -400px;
    opacity: 0;
  }
}
.result img{
  -webkit-animation: slide .5s;
          animation: slide .5s;
  display: block;
  box-sizing: border-box;
  border: 10px solid black;
  width: 80%;
  margin: 20px auto;;
  height: auto;
}
.App{
  background: white;
  border: 10px solid black;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto 30px;
  min-height: 100vh;
  box-sizing: border-box;
}
.options{
  box-sizing: border-box;
  border: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  padding: 0;
}
.imgSele{
  display: inline-block;
}
.imgSele img{
  height: 200px;
  margin-right: 15px;
}
input[type=radio] {
  position: relative;
  height: 0;
  margin: 0;
}
input[type=radio]:checked::before {
    content: "";
    display: block;
    left: 50px;
    top: 0px;
    margin-top: -15px;
    height: 25px;
    background: black;
    width: 100%;
}
form input{
  padding: 10px;
  box-sizing: border-box;
  border: 10px solid black;
  margin: 10px 0 10px 5px;
  width: 80%;
  font-size: 6rem;
  font-weight: bold;
}
button{
  margin: 10px 0 10px 5px;
  background-color: white;
  font-size: 3rem;
  border: 10px solid black;
  font-weight: bold;
  padding: 15px 28px;
}
button  img{
height: 50px;;
}
button:hover{
  background: black;
  color: white;
}
@media (max-width: 700px) {
  .App{
    padding: 20px 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
  }
  h1 span{
    display: block;
    padding-bottom: 10px;
  }
  form input, .options{
    border: 1px solid grey;
  }
  .options{
    margin-top: 15px;
  }
  form input{

    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 4rem;
  }
  button{
    display: block;
    margin: 2px auto;
  }
}
@media (max-width: 400px) {
  .App{
    padding: 20px 0;
    margin: 0;
  }
  .imgSele img{
    height: 100px;
  }
  h1{
    font-size: 4rem;
  }
  h1 span{
    display: block;
    padding-bottom: 10px;
  }
  form input, .options{
    border-left: none;
    border-right: none;
  }
  form input{
    display: inline-block;
    width: 100%;
    margin: 2px 0;
    font-size: 3rem;
  }
  button{
    font-size: 3rem;
    display: block;
    margin: 2px auto;
  }
}








/*loader*/
.loadingWrap{
  z-index: 10000 !important;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.loader {
  background-color: white;
  margin: auto;
  font-size: 25px;
  width: 300px;
  height: 300px;
  background: url(../load.jpg);
  background-size: cover;
  border-radius: 10%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 3s infinite linear;
  animation: load5 3s infinite linear;
}

@-webkit-keyframes load5 {
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes load5 {
  99% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
